.App {
  text-align: center;
}

.Question {
  /* cursor:pointer; */
  margin:10px;
  background-color:rgba(200,200,200,.9);
  border:2px solid black;
  padding:5px;
}

.Login {
  padding: 10px;
  margin: auto;
  max-width: 55%;
}

.container {
  /* background-color:grey; */
}

.header {
  background-color:grey;
  /* border: 2px solid black; */
  display:flex;
  justify-content:space-between;
  margin:20px 0 20px 10px;
  padding:10px 0 10px 0;
  align-content: center;

}

.header h1 {
  padding:10px;
}

.profileButton {
  margin:20px;
}


.subheader {
  margin-bottom:30px;
}

.login-register {
  padding:5px 20px 5px 5px;
  margin:5px;
}

.login-register button{
  margin:5px;
}

.profile-buttons button{
  margin:1rem;
}


/* .input-group{
  width:10px;
} */
.submit-answerForm button{
  margin-top:10px;
}

.questions-container {
  margin:20px 10px 10px 10px;
  background-color:grey;
  border-top:10px solid grey;
  border-bottom:10px solid grey;
  padding:5px 5px 5px 5px;
  /* border: 2px solid black; */
  max-height:500px;
  overflow:scroll;
}

.user-QA{
  display:flex;
  
}

.questions-column{
  margin-top:20px;
  width:50%;
}

.answers-column{
  margin-top:20px;
  width:50%;
}
.answers-container{
  margin:20px 10px 10px 10px;
  background-color:grey;
  border-top:10px solid grey;
  border-bottom:10px solid grey;
  /* padding:5px 5px 5px 5px; */
  /* border: 2px solid black; */
  max-height:500px;
  overflow:scroll;
}

.user-answers{
  margin:2px;
  background-color:#E6E6E6;
  border:2px solid black;
  /* padding:20px; */
}

.user-info{
  background-color:#E6E6E6;

}

.questionbox {
  text-align:left;
}

.q {
  margin-right:1rem;
}

.a {
  margin-right:.5rem;
}

.questionBody{
  text-align:left;
}

.input-group{
  padding: 0 1rem 0 1rem;
}

.searchBar{
  width:40px;
}

.login-buttons button{
  margin:1rem;

}

.register-buttons button{
  margin:1rem;
}

.input-addon-l{
  width:150px;
}

.input-addon-xl{
  width:100px;
}

.answer {
  margin: 10px 10px;
  padding: 10px;
  background: white;
  border-radius: 10px;
}

.answerContributor{
  margin:0;
  padding:0;
}

.hidden {
  background: lightgreen;
  padding: 10px;
  /* display: none; */
}

.user-answers {
  margin: 30px;
}

.askQ{

}



/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
